display.gise
display_mod_bitgen.xwbt
display_mod_guide.ncd
ipcore_dir/FONT_MEM.asy
ipcore_dir/FONT_MEM.gise
ipcore_dir/FONT_MEM.ncf
ipcore_dir/FONT_MEM.vho
ipcore_dir/FONT_MEM_flist.txt
ipcore_dir/FONT_MEM_synth.vhd
ipcore_dir/FONT_MEM_xmdf.tcl
ipcore_dir/coregen.cgp
ipcore_dir/coregen.log
ipcore_dir/summary.log
ipcore_dir/FONT_MEM/
ipcore_dir/_xmsgs/
ipcore_dir/tmp/
iseconfig/
